:root {
  --primary: #021a84;
  --secondary: #fe4c4c;
  --text: #171717;
  --dark-primary: #010d42;
  --grey: #999999;
  --background: #f2f2f2;
  --light-gray: #e5e5e5;
  --green-text: #156d33;
  --purple-text: #021a84;
  --red-text: #e5532a;
  --green-gradient: linear-gradient(
    0dg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6),
    #2dad66
  );
  --purple-gradient: (
    0dg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6),
    #021a84
  );
  --red-gradient: (
    0dg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.6),
    #e5532a
  );
}
html,
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: var(--background);
}

.wrapper {
  max-width: 1160px;
  width: 100%;
  margin-inline: auto;
}
/* button style */
.btn {
  height: 44px;
  min-width: 149px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  color: inherit;
}
.btn--border {
  border: 1px solid var(--primary);
  border-radius: 8px;
  color: var(--primary);
  transition: linear 0.2s;
}

.btn--border:hover {
  background-color: var(--primary);
  color: white;
}

.btn--solid {
  border-radius: 8px;
  background-color: var(--primary);
  color: white;
  user-select: none;
  cursor: pointer;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.btn--solid:hover::before {
  left: auto;
  right: 0;
  width: 100%;
}
.btn--solid::before {
  content: "";
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #fff;
  opacity: 0.1;
  z-index: -1;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* end button style */

.heading {
  color: var(--dark-primary);
  font-size: 34px;
  font-weight: 800px;
}
.btn-scrollTop {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  right: 40px;
  bottom: 40px;
  font-size: 18px;
}
