.container {
  padding-block: 40px;
}

/* header */
.header {
  height: 80px;
  background-color: #fff;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-nav__list {
  display: flex;
  align-items: center;
  gap: 14px;
}
/* end header */

/* banner */
.banner {
  max-width: 100%;
  width: 100%;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* end banner */

/*form search layout*/
.form-search {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 12px;
}
.form-search__input {
  width: 100%;
  position: relative;
  height: 50px;
  background-color: #fff;
  backdrop-filter: blur(2px);
  border-radius: 8px;
}
.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.form-search__input input {
  width: 100%;
  height: 100%;
  padding: 13px 16px 13px 44px;
  border-color: transparent;
  border-radius: inherit;
}
.form-search__option {
  width: 271px;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: #fff;
  backdrop-filter: blur(2px);
  border-radius: 8px;
  padding: 13px 16px;
  margin-right: 12px;
  margin-left: 16px;
  cursor: pointer;
}
.form-search__optionLeft {
  display: flex;
  align-items: center;
  gap: 4px;
}
.form-search__optionLeft span {
  color: var(--grey);
}

.form-search__btn {
  border: none;
  outline: none;
}
/*end form search layout*/

/* list suggest */
.suggest-wrap {
  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 12px;
}
.suggest-list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.suggest-item {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
}
/* end list suggest */

/* list job */
.job-wrap {
  margin-top: 77px;
}
.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-heading-wrap {
  display: flex;
  align-items: center;
  gap: 9px;
}
.job-heading__iconWrap {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 17.3421px 30px rgba(0, 0, 0, 0.08);
}
.job-heading__icon {
  width: 52.89px;
  height: 52.89px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.job-header__link {
  color: var(--primary);
  font-size: 12px;
  font-weight: 500px;
  transition: linear 0.2s;
}
.job-header__link:hover {
  text-decoration: underline;
}
.job-card__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 40px;
}
.job-card__item {
  border-radius: 16px;
  background: #ffffff;
  padding: 16px;
  border: 1px solid transparent;
  transition: linear 0.2s;
}
.job-card__item:hover {
  border-color: var(--primary);
}
.job-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--light-gray);
}
.job-card__nameWrap {
  display: flex;
  gap: 8px;
}
.job-card__name {
  font-size: 16px;
  font-weight: 500;
}
.job-card__time {
  padding: 4px 16px;
  border-radius: 8px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    #021a84;
  color: var(--primary);
}
.job-card__body {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.job-card__body::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50);
  width: 1px;
  height: 16px;
  background-color: var(--light-gray);
}
.job-card__priceText {
  color: var(--dark-primary);
  font-size: 12px;
}
.job-card__priceNumber {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 4px;
}
.job-card__priceNumber span {
  color: var(--grey);
  font-weight: 400;
}
.job-card__footer {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.job-card__footerLeft {
  display: flex;
  align-items: center;
  gap: 16px;
}
.job-card_tag {
  padding: 4px 16px;
  border-radius: 8px;
  background-color: var(--background);
  color: var(--dark-primary);
}
.job-card__footerRight {
  padding: 4px 16px;
  border-radius: 8px;
  background-color: var(--secondary);
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
/* end list job */

/* introduce */
.intro-wrap {
  margin-top: 80px;
}
.heading-wrap {
  text-align: center;
}
.sub-heading {
  font-size: 18px;
  font-weight: 400;
  color: var(--primary);
}
.intro-card__list {
  margin-top: 40px;
  display: flex;
  gap: 32px;
}
.intro-card__item {
  padding: 32px;
  border: 1px solid lightgray;
  border-radius: 16px;
  text-align: center;
}

.intro-card__item:nth-child(1) {
  background: var(--green-gradient);
  color: var(--green-text);
}

.intro-card__item:nth-child(2) {
  background: var(--purple-gradient);
  color: var(--dark-primary);
}

.intro-card__item:nth-child(3) {
  background: var(--red-gradient);
  color: var(--red-text);
}

.intro-card__img {
  margin-inline: auto;
}
.intro-card__title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
}
.intro-card__desc {
  text-align: center;
  margin-top: 8px;
}
/* end introduce */
/* partner */
.partner-wrap {
  margin: 80px;
}
.partner-list {
  margin-top: 40px;
  display: flex;
  gap: 60px;
  justify-content: center;
}

/* end partner */
/* Process working */
.process-wrap {
  margin-top: 80px;
}
.process-card__list {
  display: flex;
  gap: 101px;
  margin-top: 40px;
}
.process-card__item {
  flex: 1;
  text-align: center;
}
.process-card__numberWrap {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
.process-card__number {
  background-color: var(--grey);
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.process-card__logo {
  margin-top: 16px;
  margin-inline: auto;
}
.process-card__title {
  margin-top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.process-card__desc {
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
/* End Process working */
/* sub Banner */
.subBanner__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 114px;
  background: linear-gradient(220.53deg, #0cc64b 0%, #26ab5b 76.95%);
  border-radius: 20px;
  width: 1160px;
  height: 119px;
  left: calc(50% - 1160px / 2 - 1px);
  top: 0px;
}
.subBanner__left {
  display: flex;
  padding: 26px 40px;
  flex: 1;
  gap: 16px;
  color: #fff;
}
.subBanner__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}
.subBanner__desc {
  font-size: 18px;
}
.subBanner__right {
  width: 233px;
  height: 119px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 40px;
  gap: 10px;
  background: rgba(255, 255, 255, 0.3);
}
/* end sub Banner */
/* footer */
.footer {
  margin-top: 40px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__form {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer__input {
  padding: 16px;
  min-width: 252px;
  height: 50px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid var(--light-gray);
}
.footer__FormBtn {
  width: 50px;
  height: 50px;
  background: linear-gradient(90deg, #ef463a 0%, #fca939 100%);
  border-radius: 8px;
  border: none;
  outline: none;
}
.footer__total {
  display: flex;
  align-items: center;
  gap: 36px;
}
.footer__totalItem {
  display: flex;
  align-items: center;
  gap: 6px;
}
.footer__totalNumberWrap {
  width: 50px;
  height: 50px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__totalNumber {
  width: 42px;
  height: 42px;
  background: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.footer__totalText {
  color: var(--grey);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.footer__body {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--light-gray);
  margin-bottom: 40px;
}
.footer__socialList {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__list {
  display: flex;
  gap: 40px;
}
.footer__logo {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--light-gray);
}
.footer__item {
  flex: 1;
}
.footer__subLink {
  color: var(--grey);
}
.footer__item p {
  color: var(--grey);
}
.footer__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}
.footer__subList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer__subLink {
  transition: linear 0.2s;
}
.footer__subLink:hover {
  color: var(--primary);
}
.copyright {
  text-align: center;
  color: var(--grey);
}
/* eng footer */
